{% extends 'admin/auth.twig' %}

{% block title %}Forgot Password - Admin{% endblock %}

{% block content %}
<div class="login-box-body">
	<p class="login-box-msg">Find your account</p>
	<form action="/admin/forgot-password" method="post">
		<div class="form-group has-feedback">
			<input type="text" class="form-control" name="identity" placeholder="Email or Username">
			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
		</div>
		<div class="row">
			<div class="col-lg-12 col-sm-12">
				<button type="submit" class="btn btn-primary btn-block btn-flat">Request new password</button>
			</div>
		</div>
		<div class="row" style="margin-top: 6%;">
			<div class="col-lg-12">
				<a href="/admin/sign-in" class="pull-left">Sign in</a>
				<a href="/admin/sign-up" class="pull-right">Sign up</a>
			</div>
		</div>
	</form>
</div>
{% endblock %}
