{% extends 'admin/base.twig' %}

{% block title %}{{ user_profile.username }} - {{ app.name }}{% endblock %}

{% set breadcrumbs = [
	{
		link: '/admin/user',
		name: 'pengguna'
	},
	{
		link: '#',
		name: (user_profile?user_profile.id == user.id?'profil':user_profile.username:'profil')
	}
] %}

{% block content %}
<section class="content">
	<div class="box">
		<div class="box-header with-border">
		</div>
		<div class="box-body">Profile</div>
		<div class="box-footer">
			<a href="#" onclick="window.history.back();" class="btn btn-default"><i class="fa fa-arrow-circle-left"></i> Back</a>
		</div>
		</div>
</section>
{% endblock %}
