<div class="navbar navbar-fixed-bottom footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-md-4 col-lg-3"><p>{{ app.vendor }}</p></div>
			<div class="col-xs-6 col-md-4 col-lg-3"></div>
			<div class="col-xs-6 col-md-4 col-lg-3"><p>{{ app.name }} {{ app.version }}</p></div>
			<div class="col-xs-6 col-md-4 col-lg-3"></div>
		</div>
	</div>
</div>
