{% extends 'base.twig' %}

{% block content %}
<div class="container">
	<div class="starter-template">
		<center><img src="/assets/web/img/logo.png" width="120"></center>
		<h1>{{ app.name }}</h1>
		<p class="lead">Selamat datang di website Kelurahan Medan Tenggara, jika ingin bertanya langsung dengan admin dapat dilakukan dengan membuka chat box dibawah. Kelurahan Medan Tenggara telah di data oleh <a href="https://pemkomedan.my.id">Pemko Medan - Kecamatan Medan Denai</a> pada halaman <a href="https://pemkomedan.my.id/web/index.php/site/menu/KELURAHAN/read18/KELURAHAN-MEDAN-TENGGARA.html">Kelurahan Medan Tenggara</a></p>
	</div>
</div>
{% endblock %}
